@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom; 
    font-family: 'Josefin Sans', sans-serif;

}


.Card{
    animation-name: appear;
    animation-duration: 0.4s;
}


@keyframes appear {
    0%{ opacity: 0;}
    100%{opacity: 100;}
}